﻿@model HomeIndexViewModel
@{
    ViewData["Title"] = "Авторизация";
}

<form action ="/Login"method="post">
    @*Имя:
    <input name="Name" value="" autocomplete="off" />*@
    Email:
    <input name="Email" value="" autocomplete="off" />
    Пароль:
    <input type="password" name="" value="" autocomplete="off" />
    
    <button type="submit"> Войти</button>
</form>

