﻿@model TeploobmenInput
@{
    ViewData["Title"] = "Регистрация";
}

<form action="/Registr/" method="post">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="Email">Введите Email</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>

        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>

